<div  class="card large" appHover>
  <div class="card-image" >
    <img src="{{product.img}}">
  </div>
  <div class="card-content">
    <a class="card-title" routerLink='product/{{product.id}}'>{{product.title}}</a>
    <div class="row-content">
      <span class="price">{{product.price | currency}}</span>
      <app-product-rate [rating]='product.rate'></app-product-rate>
    </div>

    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action right-align">
    <a routerLink='/cart' class='btn waves-effect waves-light red'>Add to cart</a>
  </div>
</div>
